.jumbotron
	background: $color-primary	
	border-radius: 0

	h3
		color: $color-secondary

	.col-md-6
		nav, .navbar
			border: 0
			background: transparent

	.breadcrumb
		background: $color-primary
		border: 0

	a
		color: $color-secondary
	